<configuration>
	<connectionStrings>
		<add name="myConn"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GameLand;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
	</system.web>
</configuration>
