<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="myConn"
    connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GameLand;Integrated Security=True"
    providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="GameServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="GameServiceSoap1" />
   </basicHttpBinding>
   <customBinding>
    <binding name="GameServiceSoap12">
     <textMessageEncoding messageVersion="Soap12" />
     <httpsTransport />
    </binding>
   </customBinding>
  </bindings>
		
		<client>
   <endpoint address="https://localhost:44378/GameService.asmx"
    binding="basicHttpBinding" bindingConfiguration="GameServiceSoap"
    contract="GameLandWebServiceRef.GameServiceSoap" name="GameServiceSoap" />

  </client>
	</system.serviceModel>
</configuration>
